div ul {
    
    list-style-type: none;
    background-color: #2E4057;
    display: flex;
    margin: 0;
    padding: 0;
    height: 40px;
    justify-content: space-around;
    
}

 a {
    display: inline-block;
    text-align: "center";
    margin-top: 10px;  
    color: #FFD23F; 
}

.bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#title {
display: inline;
width: 20%;
margin-right: 50%;
color: #FFD23F; 

}

#caption {
    display: inline;
    width: 20%;
    margin-right: 50%;
    color: #FFD23F;
    width: 40px;

}

body {
    background-image: url('../images/single-glass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

h2 {
    color: #FFD23F;
    margin-left: 50px;
    font-size: 40px;
    margin-top: 10px;
}

h3 {
    color: #FFD23F;
    margin-left: 50px;
}

h4{
    margin-inline: 50px;
    color: white;
}

#meetTeam{
    text-align: left;
}

#Team {
    margin-left: 70px;
    /*width: 100%;*/
}

#purposeHeader {
    text-align: right;
    margin-right: 70px;
    float: top;
}

#purposeContent {
    text-align: right;
    margin-right: 70px;
}

p {
    color: white;
    margin-left: 90px;
    font-size: 100%;
}