ul {
    list-style-type: none;
    background-color: #2E4057;
    display: flex;
    margin: 0;
    padding: 0;
    height: 40px;
    justify-content: space-around;  
}
 a {
    display: inline-block;
    text-align: "center";
    margin-top: 10px;  
    color: #FFD23F;
}

.bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
#title {
display: inline;
width: 20%;
margin-right: 50%;
color: #2E4057;
}

#caption {
    display: inline;
    color: #2E4057;
    width: 40px;
}
body{
    background-image: url('../images/foam.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.flex-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    text-align: center;
    width:75%;
    justify-content: space-evenly;
    min-height: 0;
}

.micro {
    background-color: #FFD23F;
    color: #2E4057;
}

.nano {
    background-color: #2E4057;
    color: #FFD23F;
}

.regional {
    background-color: #FFD23F;
    color: #2E4057;
}

.brewpub {
    background-color: #2E4057;
    color: #FFD23F;
}

.planning {
    background-color: #FFD23F;
    color: #2E4057;
}

.contract {
    background-color: #2E4057;
    color: #FFD23F;
}

.closed {
    background-color: #FFD23F;
    color: #2E4057;
}
.quiz{
    text-align: center;
    margin: auto;
    color: #2E4057;
    margin-top: 1%;

}
.source{
    text-align: center;
    margin: auto;
    color: #2E4057;
    margin-top: 1%;

}