body{
    background-image: url('../images/dispense.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    
}


.container{
    text-align: center;
    color: #FFD23F; 
    margin-top: 15%;
    background-color: #2E4057;
    background-size: auto;
    display: flex;
}

p{
    /*font: 200% "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font-size: 200%;
}