.main-bar { 
    list-style-type: none;
    background-color: #2E4057;
    display: flex;
    margin: 0;
    padding: 0;
    height: 40px;
    justify-content: space-around;  
}
body {
    background-image: url('../images/searchPageImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a {
    display: inline-block;
    text-align: "center";
    margin-top: 10px;  
    color: #FFD23F; 
}
.bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#title {
    display: inline;
    width: 20%;
    margin-right: 50%;
    color: #2E4057;
}

#caption {
    display: inline;
    color: #2E4057;
    width: 40px;
}
#term{
    width: 30%;
    margin: auto;
}
#brew-type{
   width:10%;
   margin-left:20%;
}
#search-fliter{
    width:10%;
}
#search{
    width:10%;
}
#search-message{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 2%;
    color: #2E4057; 
}
#brewey-list{
    list-style-type: square;
}
#result-holder{
    background-color: #2E4057;
    width: 50%;
    color: #FFD23F; 
    margin: auto;
}