body {
  padding: 50px;
  background-image: url('../images/beer-4926861_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style: none;
  height: 50%; 
}

.links {
  display: inline-block;
  text-align: center;
  color: #2E4057;
  width: 20%;
  margin-left: 20%;
  font-size: 200%;
  background-color:#FFD23F;
  border-radius: 4px;
}

a:hover {
  background-color: lightgoldenrodyellow;
}

.title {
  text-align: center;
  color:#2E4057;
}

h3 {
  text-align: center;
  color: #2E4057;
}
