body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/beer-4926861_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
  color: white;
  width: 50%;
  height: 40%;
  font-size: large;
  margin-left: 365px;
  background-color: #EE6352;
  padding: 14px 25px;
  border-radius: 8px;
}

a:hover {
  background-color: lightcoral;
}

.title {
  text-align: center;
  color: #3FA7D6;
}

h3 {
  text-align: center;
  color: #3FA7D6;
}
